@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --gradient-angle-offset {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --gradient-percent {
  syntax: "<percentage>";
  initial-value: 5%;
  inherits: false;
}

@property --gradient-shine {
  syntax: "<color>";
  initial-value: white;
  inherits: false;
}

.shiny-cta {
  --shiny-cta-bg: #000000;
  --shiny-cta-bg-subtle: #1a1818;
  --shiny-cta-fg: #ffffff;
  --shiny-cta-highlight: #0066ff;
  --shiny-cta-highlight-subtle: #66aaff;
  --transition: 800ms cubic-bezier(0.25, 1, 0.5, 1);

  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline-offset: 4px;
  padding: 1.25rem 2.5rem;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 360px;
  color: var(--shiny-cta-fg);
  background: linear-gradient(var(--shiny-cta-bg), var(--shiny-cta-bg)) padding-box,
    conic-gradient(
      from var(--gradient-angle),
      transparent,
      var(--shiny-cta-highlight) 5%,
      var(--gradient-shine) 10%,
      var(--shiny-cta-highlight) 15%,
      transparent 20%
    ) border-box;
  animation: gradient-angle 3s linear infinite;
  animation-composition: add;
  transition: var(--transition);
  transition-property: --gradient-angle-offset, --gradient-percent, --gradient-shine;
}

.shiny-cta:active {
  translate: 0 1px;
}

.shiny-cta span {
  z-index: 1;
}

.shiny-cta:is(:hover, :focus-visible) {
  --gradient-percent: 20%;
  --gradient-angle-offset: 95deg;
  --gradient-shine: var(--shiny-cta-highlight-subtle);
}

@keyframes gradient-angle {
  to {
    --gradient-angle: 360deg;
  }
}
